{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_stock_state: {Boolean} Show the state in stock. Default: false
    - show_quick_add: {Boolean} Show the quick add button.
    - button: {Object} Settings for hover button.
    - section_id: {String} The ID of the section that contains this card.
    - section: {Object} Section Liquid object. (optional)
    - lookbook: {Boolean} Settings for lookbook. Default: false. (optional)
    - lookbook: {String} Classes for lookbook. Default: false. (optional)
    - text_theme: {String} Settings for text color. (optional)

    Usage:
    {% render 'card-product', show_vendor: section.settings.show_vendor, show_quick_add: section.settings.show_quick_add, show_stock_state: section.settings.show_stock_state %}
{% endcomment %}

{% assign lookbook = lookbook | default: false %}

<div class="product-card">
    <div class="product-card-main">
        <div class="relative group overflow-hidden">
            <a href="{{ card_product.url }}" title="{{ card_product.title | escape }}"
               class="relative group block {{ lookbookClasses }}">
                {% if card_product.featured_media %}
                    <picture>
                        {% if lookbook %}
                            <source media="(min-width: 768px)"
                                    data-srcset="{{ card_product.featured_media | image_url: width: 544, height: 544, crop: "center" }},
                                    {{ card_product.featured_media | image_url: width: 1088, height: 1088, crop: "center" }} 2x"/>
                        {% else %}
                            <source media="(min-width: 768px)"
                                    data-srcset="{{ card_product.featured_media | image_url: width: 340, height: 340, crop: "center" }},
                                        {{ card_product.featured_media | image_url: width: 512, height: 512, crop: "center" }} 2x"/>
                        {% endif %}
                        <source media="(min-width: 360px)"
                                data-srcset="{{ card_product.featured_media | image_url: width: 156, height: 156, crop: "center" }},
                                    {{ card_product.featured_media | image_url: width: 312, height: 312, crop: "center" }} 2x"/>
                        {% liquid
                            if card_product.featured_media.alt != blank
                                assign image_alt = card_product.featured_media.alt
                            else
                                assign image_alt = card_product.title
                            endif
                        %}
                        <img data-src="{{ card_product.featured_media | image_url: width: 340, height: 340, crop: "center" }}"
                             width="340" height="340"
                             alt="image_alt" class="lazyload w-full h-full object-cover">
                    </picture>

                    {%- if card_product.media[1] != null and show_secondary_image -%}
                        <img data-srcset="{%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                                    {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                                    {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                                    {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                                    {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                                    {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                                    {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
                                  "
                             data-src="{{ card_product.media[1] | image_url: width: 533 }}"
                             data-sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                             alt="{{ card_product.title | camelcase }}"
                             class="lazyload absolute top-0 left-0 w-full h-full object-cover opacity-0 invisible transition-all duration-500 group-hover:opacity-100 group-hover:visible group-hover:scale-110"
                             width="{{ card_product.media[1].width }}"
                             height="{{ card_product.media[1].height }}"
                        >
                    {%- endif -%}
                {% else %}
                    {{ 'product-1' | placeholder_svg_tag: 'bg-dark-10 w-full h-full object-cover' }}
                {% endif %}
            </a>
            {%- if card_product.compare_at_price > card_product.price and card_product.available -%}
                {% liquid
                    assign old_price = card_product.compare_at_price
                    assign price = card_product.price | default: 1999
                    assign num = old_price | minus: price
                    assign sale_percentage = num | times: 100 | divided_by: old_price
                %}
                <div class="absolute top-0 left-0 w-full p-8 text-right grid gap-6">
                    <div>
                        <span class="inline-block px-16 py-4 bg-dark text-light text-caption rounded-full">-{{ sale_percentage }}%</span>
                    </div>
                </div>
            {%- endif -%}
            {%- if button != 'none' -%}
                <div class="max-md:hidden absolute left-0 bottom-0 right-0 p-24 flex flex-col justify-end">
                    {%- case button -%}
                        {%- when 'quick_view' -%}
                            <button class="btn btn-primary uppercase opacity-0 group-hover:opacity-100"
                                    type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#quickView{{ card_product.title | camelcase }}"
                            >{{ 'products.product.quick_view' | t }}</button>
                        {%- when 'quick_buy' -%}
                            {%- assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id -%}
                            <product-form data-cart-type="{{ settings.cart_type }}">
                                {%- form 'product', card_product, id: product_form_id, novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                    <input type="hidden" name="id"
                                           value="{{ card_product.selected_or_first_available_variant.id }}" disabled>
                                    <button id="{{ product_form_id }}-submit"
                                            type="submit"
                                            name="add"
                                            class="btn btn-primary w-full uppercase opacity-0 group-hover:opacity-100"
                                            aria-haspopup="dialog"
                                            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                                            aria-live="polite"
                                            data-sold-out-message="true"
                                            {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                    >
                                    <span>
                                      {%- if card_product.selected_or_first_available_variant.available -%}
                                          {{ 'products.product.add_to_cart' | t }}
                                      {%- else -%}
                                          {{ 'products.product.sold_out' | t }}
                                      {%- endif -%}
                                    </span>
                                    </button>
                                {%- endform -%}
                            </product-form>
                    {%- endcase -%}
                </div>
            {%- endif -%}
        </div>
        <div class="pt-16">
            <div class="text-p-small">
                <h3 {% if text_theme == "light" %}class="text-light"{% endif %}>
                    {% liquid
                        assign title_class = "hover-underline-animation"
                        assign card_title = card_product.title | default: "Example product title"
                        if text_theme == " light"
                            assign title_class = title_class | append: "hover:text-light"
                        endif
                    %}
                    {{ card_title | link_to: card_product.url, class: title_class }}
                </h3>
                <div class="flex items-center flex-wrap">
                    {%- liquid
                        assign compare_at_price = card_product.compare_at_price
                        assign price = card_product.price
                    -%}
                    <p class="font-bold{% if text_theme == "light" %} text-light{% endif %}">
                        {% liquid
                            assign price = card_product.price | default: 1999
                            assign money_price = price | money
                            if settings.currency_code_enabled
                                assign money_price = price | money_with_currency
                            endif
                            if card_product.price_varies
                                assign money_price = 'products.product.price.from_price_html' | t: price: money_price
                            endif
                        %}
                        {{ money_price }}
                    </p>
                    {% if compare_at_price > price %}
                        <span class="inline-flex ml-8 text-caption{% if text_theme == "light" %} text-light{% else %} text-light-subdued{% endif %}">
                            <s>{{ card_product.compare_at_price_max | money }}</s>
                        </span>
                    {% endif %}
                </div>
                <small class="block mt-8 uppercase text-caption{% if card_product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %}{% if text_theme == "light" %} text-light{% endif %}">
                    <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                    <span>
                        <span>{{- card_product.selected_or_first_available_variant.unit_price | money -}}</span>
                        <span aria-hidden="true">/</span>
                        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                        <span>
                          {%- if card_product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                              {{- card_product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                            {{ card_product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
                        </span>
                    </span>
                </small>
                {%- if show_vendor -%}
                    <div>
                        <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                        <p class="{% if text_theme == "light" %}text-light{% else %}text-light-subdued{% endif %}">{{ card_product.vendor | default: "Vendor" }}</p>
                    </div>
                {%- endif -%}
            </div>

            {%- if show_stock_state -%}
                <div class="flex items-center max-sm:text-caption text-p-small mt-4{% if text_theme == "light" %} text-light{% else %} text-dark-60{% endif %}">
                    {% if card_product.available %}
                        {% render 'icon-checkmark-circle', class: "w-14 h-14 mr-4" %}
                    {% else %}
                        {% render 'icon-close-circle', class: "w-14 h-14 mr-4" %}
                    {% endif %}
                    {% if card_product.available %}{{ 'products.product.on_stock' | t }}{% else %}{{ 'products.product.out_of_stock' | t }}{% endif %}
                </div>
            {%- endif -%}

            {% if card_product.options_by_name['Color'] %}
                {% liquid
                    assign colors = card_product.options_by_name['Color'].values | sort_natural
                %}
                <div class="max-md:hidden mt-8 flex items-center">
                    <ul class="flex items-center">
                        {% assign colors_num = settings.product_card_colors_num %}
                        {% for value in colors limit: colors_num %}
                            {% for variant in card_product.variants %}
                                {% if variant.metafields.color.values and variant.title contains value %}
                                    {% liquid
                                        assign color = variant.metafields.color.values
                                        assign color_light = variant.metafields.color_light.value
                                    %}
                                    <li>
                                        <a href="{{ variant.url }}"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           title="{{ value }}"
                                           class="block m-2 w-14 h-14 border{% if color_light %} border-light-material{% else %} border-light{% endif %} rounded-1 transition-colors hover:border-light hover:outline hover:outline-1 hover:outline-brand"
                                           style='background-color: {{ color }}'>
                                            <span class="visually-hidden">{{ value }}</span>
                                        </a>
                                    </li>
                                    {% break %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    {% if colors.size > colors_num %}
                        <p class="ml-4 text-dark-60 text-caption">
                            +{{ colors.size | minus: colors_num }}
                        </p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{%- if button == 'quick_view' and lookbook == false -%}
    <div id="quickView{{ card_product.title | camelcase }}" class="modal fade" aria-hidden="true"
         tabindex="-1">
        <div class="modal-dialog quick-view">
            <div class="modal-content">
                <div class="modal-body p-0 max-sm:flex max-sm:flex-col md:h-auto">
                    <div class="p-32 pt-40">
                        <div class="group absolute top-10 md:top-24 right-10 md:right-24 -m-10 p-10 cursor-pointer"
                             data-bs-dismiss="modal">
                            {% render 'icon-close', class: "w-24 h-24 text-dark-material transition-transform group-hover:rotate-90" %}
                        </div>

                        {% render "product-quick-view-modal", product: card_product, section: section %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endif -%}