{% comment %}
    - Attribute 'data-customer-addresses' necessary in parent if you want to render snippet 'customer-address-item'
{% endcomment %}

<script src="{{ 'customer.js' | asset_url }}" defer></script>

<div class="container mb-80">
    {% render 'customer-header' %}

    <div class="row max-sm:flex-col">

        {% render 'customer-menu' %}

        <div class="w-full md:w-9/12">
            {% if customer.orders.size > 0 %}
                {% for order in customer.orders %}
                    {% unless order.fulfillment_status_label == 'Fulfilled' %}
                        <div class="mb-20 md:mb-40">
                            <h2 class="mr-auto h3">{{ 'customer.orders.updates' | t }}</h2>
                        </div>
                    {% endunless %}
                    {% break %}
                {% endfor %}
                {% assign is_order = false %}
                {% for order in customer.orders %}
                    {% unless order.fulfillment_status_label == 'Fulfilled' %}
                        <div class="{% if forloop.last %}mb-64 {% endif %}{% unless forloop.first %}mt-16 {% endunless %}border border-light-material rounded-checkbox">
                            <div class="flex max-md:flex-col-reverse max-sm:p-16 p-32">
                                <div class="max-md:mt-16 lg:mr-16">
                                    <h3 class="h4">{{ 'customer.orders.order_number' | t }} {{ order.name }}</h3>
                                    <p class="mt-8 text-dark-subdued max-sm:text-p-small">
                                        {{ 'customer.order.fulfillment_status' | t }}
                                        : {{ order.fulfillment_status_label }}
                                    </p>
                                    <a href="{{ order.customer_url }}" class="mt-16 btn"
                                       title="{{ 'customer.orders.order_number' | t }} {{ order.name }}">
                                        {{ 'customer.order.detail' | t }}
                                    </a>
                                </div>
                                <div class="lg:ml-auto">
                                    <ul class="flex -m-4 flex-wrap">
                                        {%- for item in order.line_items limit: 2 -%}
                                            <li class="w-72 h-72 md:w-80 md:h-80 m-4 bg-brand">
                                                {%- assign featured_image = item.product.featured_image -%}
                                                {% if featured_image != blank  %}
                                                <picture>
                                                    <source srcset="{{ featured_image | image_url: width: 80, height: 80, crop: "center" }},
                                                                        {{ featured_image | image_url: width: 160, height: 160, crop: "center" }} 2x"/>
                                                    {% liquid
                                                        if featured_image.alt != blank
                                                            assign image_alt = featured_image.alt
                                                        else
                                                            assign image_alt = product.title
                                                        endif
                                                    %}
                                                    {{ featured_image | image_url: width: 80, height: 80, crop: "center" | image_tag:
                                                    width: 80,
                                                    height: 80,
                                                    class: 'w-full h-full object-cover',
                                                    alt: image_alt }}
                                                </picture>
                                                {% else %}
                                                    {{ 'product-1' | placeholder_svg_tag: 'bg-light-surface w-full h-full object-cover' }}
                                                {% endif %}
                                            </li>
                                        {%- endfor -%}
                                        {% assign items_size = order.line_items | size %}
                                        {% if items_size > 3 %}
                                            <li class="w-72 h-72 md:w-80 md:h-80 m-4 flex items-center justify-center border border-light-material">
                                                <span class="text-p-small">+{{ items_size | minus: 2 }}</span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% assign is_order = true %}
                    {% endunless %}
                {% endfor %}
                {% if is_order == true %}
                    <div class="mb-64"></div>
                {% endif %}
            {% endif %}
            <div>
                <div class="mb-20 flex items-center flex-wrap gap-16">
                    <h2 class="mr-auto h3">{{ 'customer.orders.title' | t }}</h2>
                    <a href="{{ routes.account_url }}?view=order_history"
                       class="btn btn-outline md:btn-large items-center">{{ 'customer.account.show_all' | t }}</a>
                </div>

                {%- if customer.orders.size > 0 -%}
                    <ul>
                        {%- for order in customer.orders limit: 3 -%}
                            {% render 'customer-order-item', order: order, forloop: forloop %}
                        {%- endfor -%}
                    </ul>
                {%- else -%}
                    <p>{{ 'customer.orders.none' | t }}</p>
                {%- endif -%}

            </div>
            <div class="mt-64">
                <div class="mb-20 md:mb-40 flex items-center flex-wrap gap-16">
                    <h2 class="h3 mr-auto">{{ "customer.addresses.title" | t }}</h2>
                    <a href="{{ routes.account_addresses_url }}"
                       title="{{ "customer.account.show_all" | t }} {{ "customer.addresses.title" | t }}"
                       class="btn btn-outline md:btn-large items-center">
                        {{ "customer.account.show_all" | t }}
                    </a>
                </div>
                <ul class="grid lg:grid-cols-3 gap-16 md:gap-32" data-customer-addresses>
                    {%- for address in customer.addresses -%}
                        {% render 'customer-address-item', address: address, forloop: forloop %}
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = () => {
        typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
    }
</script>
