<div class="py-40">
    <div class="container">
        <div class="flex items-center justify-between flex-wrap gap-16">
            <div>
                {%- if section.settings.logo -%}
                    {% liquid
                        assign logo_alt = section.settings.logo.alt | default: shop.name | escape
                        assign logo_height = section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio
                    %}
                    {{ section.settings.logo
                    | image_url: width: 250
                    | image_tag:
                    class: "password-logo",
                    widths: '50, 100, 150, 200, 250, 300, 400, 500',
                    width: settings.logo_max_width,
                    height: logo_height,
                    alt: logo_alt
                    }}
                {%- else -%}
                    <h1 class="h3">{{ shop.name }}</h1>
                {%- endif -%}
            </div>

            <div>
                <button class="flex items-center"
                        type="button"
                        id="passwordModalBtn"
                        data-bs-toggle="modal"
                        data-bs-target="#passwordModal"
                        aria-label="{{ 'customer.addresses.edit_address' | t }} {{ address.id }}"
                        aria-controls="passwordModal">
                    {% render 'icon-padlock', class: "w-16 h-16 mr-4" %}
                    {{ 'general.password_page.login_password_button' | t }}
                </button>

                {%- if shop.password_message != blank -%}
                    <div class="password-content">
                        {{ shop.password_message }}
                    </div>
                {%- endif -%}

                <div id="passwordModal"
                     class="modal fade"
                     tabindex="-1"
                     aria-labelledby="passwordModalBtn"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content basket-modal mx-auto">
                            <div class="modal-body p-32 custom-scrollbar">
                                <h2 class="mx-auto h3 text-center">
                                    {{ 'general.password_page.login_form_heading' | t }}
                                </h2>
                                <div class="group absolute top-24 right-24 -m-10 p-10 cursor-pointer"
                                     data-bs-dismiss="modal">
                                    {% render "icon-close", class: "w-24 h-24 text-dark-material transition-transform group-hover:rotate-90" %}
                                </div>
                                <div class="mt-40">
                                    {%- form 'storefront_password', class: 'password-form' -%}
                                        <div class="relative">
                                            <input type="password"
                                                   name="password"
                                                   id="Password"
                                                   class="input"
                                                   autocomplete="current-password"
                                                    {% if form.errors %}
                                                        aria-invalid="true"
                                                        aria-describedby="PasswordLoginForm-password-error"
                                                    {%- endif -%}
                                                   placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                                            >
                                            <label for="Password">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
                                            {%- if form.errors -%}
                                                <div id="PasswordLoginForm-password-error" role="status">
                                                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                                                    <span class="form__message">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
                                                </div>
                                            {%- endif -%}
                                        </div>
                                        <button type="submit" name="commit" class="btn btn-large mt-16">
                                            {{ 'general.password_page.login_form_submit' | t }}
                                        </button>
                                    {%- endform -%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-password-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.main-password-header.settings.logo_max_width.unit",
      "label": "t:sections.main-password-header.settings.logo_max_width.label"
    }
  ]
}
{% endschema %}