{% render 'section-padding', id: section.id, padding_top: section.settings.padding_top, padding_bottom: section.settings.padding_bottom %}

{% liquid
    assign slides_number = 0
    for block in section.blocks
        assign slides_number = slides_number | plus: 1
    endfor
%}

<div class="section-{{ section.id }}-padding"
     style="background-color: {{ section.settings.background_color }}" {{ block.shopify_attributes }}>
    <div class="container">
        <div class="max-w-880 mx-auto">
            <div class="glide slider">
                <div data-generic-slider="slider-{{ section.id }}"
                     data-num-slides="{{ slides_number }}" class="relative">
                    <div data-glide-el="track"
                         class="glide__track h-full">
                        <div class="glide__slides">
                            {% for block in section.blocks limit: 5 %}
                                <div class="flex-center flex-col">
                                    {% if block.settings.logo %}
                                        <div class="md:hidden mb-32">
                                            {% assign logo_alt = block.settings.logo.alt | default: 'testimonial-' | append: forloop.index %}
                                            {{ block.settings.logo | image_url: width: 200 | image_tag:
                                                alt: logo_alt,
                                                class: "w-full h-22 object-scale-down max-w-200"
                                            }}
                                        </div>
                                    {% endif %}
                                    <div class="h3 text-center whitespace-normal">
                                        {{ block.settings.content }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if slides_number > 1 %}
                        <div class="max-sm:hidden" data-glide-el="controls">
                            <div class="group px-6 absolute top-1/2 -left-16 xl:-left-96 -translate-y-1/2 cursor-pointer"
                                 data-glide-dir="<">
                                <button class="btn btn-outline p-0 w-32 h-64 bg-light border-light-material group-hover:bg-light group-hover:border-dark"
                                        type="button"
                                        aria-label="Previous slide">
                                    {% render "icon-right-arrow-big", class: "w-16 h-16 rotate-180" %}
                                </button>
                            </div>
                            <div class="group px-6 absolute top-1/2 -right-16 xl:-right-96 -translate-y-1/2 cursor-pointer"
                                 data-glide-dir=">">
                                <button class="btn btn-outline p-0 w-32 h-64 bg-light border-light-material group-hover:bg-light group-hover:border-dark"
                                        type="button"
                                        aria-label="Next slide">
                                    {% render "icon-right-arrow-big", class: "w-16 h-16" %}
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    {% if slides_number > 1 %}
                        <div class="w-full mt-24 md:mt-64">
                            <ul class="flex-center md:gap-48 md:-mb-10" data-glide-el="controls[nav]">
                                {% for block in section.blocks %}
                                    <li data-glide-dir="={{ forloop.index0 }}"
                                        title="{{ forloop.index }}"
                                        class="glide__bullet dot flex-center cursor-pointer border-none opacity-50 transition-opacity hover:opacity-75">
                                        {% if block.settings.logo %}
                                            {% assign logo_alt = block.settings.logo.alt | default: 'testimonial-' | append: forloop.index %}
                                            {{ block.settings.logo | image_url: width: 200 | image_tag:
                                                alt: logo_alt,
                                                class: "max-sm:hidden w-full h-22 object-scale-down max-w-200"
                                            }}
                                        {% endif %}
                                        <div class="md:hidden w-44 h-44 flex-center">
                                            <div class="w-8 h-8 block rounded-full bg-dark-material"></div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    window.glide_options = window.glide_options || {};
    window.glide_options['slider-{{ section.id }}'] = {
        breakpoints: {
            768: {
                autoplay: 2500,
                animationDuration: 1000
            }
        }
    };
</script>

{% schema %}
{
  "name": "t:sections.testimonials.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "max_blocks": 5,
  "blocks": [
    {
      "type": "testimonial",
      "name": "t:sections.testimonials.blocks.label",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.testimonials.blocks.settings.logo"
        },
        {
          "type": "text",
          "id": "content",
          "label": "t:sections.collection-links.blocks.settings.heading",
          "default": "“We're confident that this store will be the next big thing in its industry, and that its products will be timeless.”"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 80
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials.name",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}